.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(../img/main.jpg) no-repeat center center;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 30px;
    padding-right: 30px;
}
.site-name {
    margin-bottom: 40px;
    font-family: 'Hannari', serif;
    color: #FFF;
}
.site-sub-name {
    color: #FFF;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}
.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}
.btn-black:hover {
    background-color: #fff;
    color: #000;
}
.btn-circle-3d {
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
  }
  
  .btn-circle-3d:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
  }
.result-area {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #bd6565;
    background: white;
    border-top: solid 5px #bd6565;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    min-height: 100px;
}
.result-area p {
    margin: 0; 
    padding: 0;
}